.getstared-btn, .login-btn {
    margin-left: 15px;
    padding: 10px;
    text-align: center ; 
    font-size: 14px;
    background: #e7fb04 ;
    border-radius: 18px;
    margin-top: 10px;
    color: black ;
    letter-spacing: 2px;
    font-weight: bold ;
}

#login_btn {
    background: #323a56 ;
    color: white ;
}

.nav-bar {
    display:flex;
    justify-content: space-between ;
    align-items: center ;
}

.nav-logo {
    width:35px;
    height:35px;    
}

.nav-bar h1 {
    font-size:25px;
    margin:0;
    padding:10px;
    color:black;
    display:flex;
}

.nav-bar h2 {
    font-size:25px;
    margin:0;
    padding:10px;
    color:green;  
}



