.yourself {
    padding:12px;
    background: #c2e8d4;
}

.yourself .mainboard {
    display:flex;
    padding-bottom:50px;
    padding-left:100px;
    padding-right:100px;
    padding-top:50px;

}

.yourself .mainboard .txt {
    display:grid;
    padding:12px;
    width:50%;
    
}

.yourself .mainboard .txt .text1 {
    font-family: "PlayfairDisplay",serif!important;
    color: #264192;
    font-size: 35px;
    line-height: 2.5rem;
    letter-spacing: .0073529412em!important;
    font-weight: 400;
    padding-bottom: 8px!important;
    align-items: center ;
}

.yourself .mainboard .txt .text2 {
    font-family: "SourceSansPro",sans-serif;
    line-height: 1.5;
    color: rgba(0,0,0,.87);
    font-size:20px;
    align-items: center ;    
}

.yourself .mainboard .img {
    padding:12px;
    text-align:center;
    width:50%

}

.yourself .mainboard .img .image{
    width:450px;
    
}